
<form method="post" action="./tv_power">
  <input type="submit" value="TV 電源">
</form>

<form method="post" action="./channel_up">
  <input type="submit" value="チャンネル↑">
</form>

<form method="post" action="./channel_down">
  <input type="submit" value="チャンネル↓">
</form>
